* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.zoom {
  width: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;
  background: url(https://cloud-23b409dri.vercel.app/bg.jpg);
  background-size: cover;
}
.zoom:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 1000;
  background: linear-gradient(transparent, #fff);
}
.zoom #layer1 {
  position: absolute;
  left: 40%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 10;
}
.zoom #layer2 {
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 9;
}
.zoom #text {
  position: absolute;
  right: 0;
  width: 100%;
  transform: translateY(50%);
}
.content {
  height: 100vh;
  padding: 100px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.content h2 {
  margin: 0;
  padding: 0;
  font-size: 4em;
}

@media only screen and (max-width: 768px) {
  .zoom {
    height: 300px;
    width: 100vw;
    background-repeat: no-repeat;
  }
  .zoom #text {
    transform: translateY(15%);
  }
}
