* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: aliceblue;
  overflow-x: hidden;
}
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .container {
  color: #1f1f1f;
  font-size: 10vw;
  font-weight: 700;
  -webkit-text-stroke: 2px #1f1f1f;
  -webkit-text-fill-color: transparent;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.letter:hover {
  -webkit-text-fill-color: #1f1f1f;
}
@media only screen and(min-width:1000px) {
  .main .container {
    -webkit-text-stroke: 9px #1f1f1f;
  }
}
